*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}



/*shared style*/ 

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}



/*main styles*/

header{
    background-color: #ffffff;
    width: 100%;
}



nav {
    max-width: 1600px;
    border: none;
    margin: 0px auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
    align-items: center;
}


nav .logo img{
    width: 139px;
    height: 60px;
    flex:1;
    
}


nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    justify-self: center;
}

nav .menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

nav .btn button {
    
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}

#hero{
    background-image: url('/assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    width:100%;
    padding: 70px 120px 134px 120px;
}

#hero .hero-content .btn.early-access button{
    background-color: #ffffff;
    color: #276941;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    padding : 8px 12px 8px 12px;
    border-radius: 100px;
    border: #ffffff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;    
}

#hero .hero-content h1.white {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #ffffff;
    max-width: 770px;
    max-height: 168px;
    text-align: center;
    font-style: bold;
}
#hero .hero-content h1.green {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #30B868;
    max-width: 770px;
    max-height: 168px;
    text-align: center;
    font-style: bold;
}

#hero .hero-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    max-width: 1360px;
    max-height: 60px;
    text-align: center;
    
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: nowrap;
}

#hero .hero-buttons .btn {
    display: block;
    margin: 0;  
}

#hero .hero-content .btn.StartBuilding button{
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px; 
    white-space: nowrap; 
}
#hero .hero-content .btn.SeeHowItWorks button{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 3px;
}


#hero .btn.SeeHowItWorks button img{
    
    width: 26px;
    height: 26px;

    object-fit: contain;

}
#hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;
}

#features-section{
    /* height: 1600px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 120px 120px 120px;
    gap: 16px;
    background-color: #fbfbfb;
}
#features-section .punchline{
    display: flex;
    flex-direction: column;
    padding: 0px 120px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
}

#features-section .punchline h1 {
    font-size: 48px;
    font-weight: 700;
    padding : 80px 120px 0px 120px;
    line-height: 100%;
    display: inline-flex; 
    text-align: center;
    gap: 16px;
    margin: 0 auto;
    color: #001931;
    
}
#features-section .punchline p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
    padding-bottom: 44px;   
}
#features-section .features-card{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    padding: 0px 120px;
    overflow: hidden;
}

#features-section .features-card .card {
    background-color: #ffffff;
    border-radius: 8px 8px 0px 0px;
    padding: 40px 20px;
    flex: 1; 
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    box-sizing: border-box; 
    
}


#features-section .features-card img{
    width: 64px;
    height: 64px;
    background-color: #F95555 !important;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 16px;
    align-items: center;
}

#features-section .features-card h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
#features-section .features-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    text-align: center;
}

#solution-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 120px;
    gap: 40px;
    background-color: #ffffff;
}
#solution-section .solution-image{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 0px;
}
#solution-section .solution-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 16px;
    padding: 102px 120px 102px 60px;
}

#solution-section .solution-content .soln {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    max-width: 700px;
    color: #30B868;
}
#solution-section .solution-content h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    color: #001931;
    max-width: 700px;
    max-height: 116px;
    text-align: left;
}
#solution-section .solution-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    max-width: 700px;
}
#solution-section .solution-content h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    
}

#conclusion-section{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px 120px 120px 120px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#conclusion-section .conclusion-content {
    width: 100%;
    padding: 80px 40px 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    background-color: #F7F6F2;
    border-radius: 12px;
}
#conclusion-section .conclusion-content h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    color: #001931;
    text-align: center;
}
#conclusion-section .conclusion-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    text-align: center;
    max-width: 800px;
}
#conclusion-section .conclusion-content .btn.early-access button{
    background-color: #469165;
    color: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px; 
    white-space: nowrap; 
}


