*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}



/*shared style*/ 

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}



/*main styles*/

header{
    background-color: #c26363;
    width: 100%;
}



nav {
    max-width: 1600px;
    border: 1px solid black;
    margin: 0px auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
    align-items: center;
}


nav .logo img{
    width: 139px;
    height: 60px;
    flex:1;
    
}


nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    justify-self: center;
}

nav .menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

nav .btn button {
    
    background-color: #469165;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}